@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}


